<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MySqlConnection"
			 connectionString="Server=127.0.0.1;Port=3306;Database=school_db;Uid=root;Pwd=root123;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="Minio:Endpoint"  value="localhost:9000" />
		<add key="Minio:AccessKey" value="minioadmin" />
		<add key="Minio:SecretKey" value="minioadmin" />
		<add key="Minio:Bucket"    value="starbuko" />
	</appSettings>
</configuration>